@charset "utf-8";
/* CSS Document */
.header3{
	background: url("../images/index/sisterb.jpg") no-repeat;
	background-size: cover;
	overflow: hidden;
	 background-attachment:fixed;
}
.mainter{
	height:400px;
	width:60%;
	margin:120px 400px;
	overflow: hidden;
	padding-top: 150px;
}
.mainter p{
	font-size: 20px;
	color: #FFFFFF;
	margin-left: 200px;
}
.back{
	background: url("../images/index/sisterb.jpg") no-repeat;
    background-attachment:fixed;
    background-size: cover;
	overflow: hidden;
}
.huojiang{
	width: 64%;
	margin: 0px 200px;
	float: left;
}
.title{
	width: 100%;
	height: 80px;
	margin-top: 100px;

	margin-left: 100px;
}
.item{
	width:100%;
	height:200px;
	float:left;
	margin-left: 100px;
}
.item ul{
	height:180px;
	text-align:center;
	float: left;
}
.item ul li{
	width: 125px;
	height: 180px;
	display: inline-block;
	float: left;
	padding-left: 0px;
}
.item ul li a{
  text-decoration: none;
  margin: 0 1em;
  font-size: 1.4em;
  text-transform: capitalize;
}
.item ul li a img{
	width: 130px;
	height: 180px;
}
.content{
	width: 100%;
	height: 700px;
	margin-top: 50px;
	margin-left: 100px;
	float: left;
}
.content p{
	font-size: 17px;
}
.content h2{
	color: #FFFFFF;
}
.content h4{
	color: #FF8C00;
}
.title p{
	font-size: 20px;

}
.strong1{
	font-size: 40px;
	color: #FF8C00;
}
.strong2{
	font-size: 30px;
	color: #FF8C00;
}.content li{
	color: #FFFFFF;
}
.top{
	width: 67%;
	margin-left: 250px;
	margin-right: 250px;
	text-align: center;
}
.top a img{
	width: 50px;
	height: 50px;
}
