@charset "utf-8";
/* CSS Document */
.header1{
	background: url("../images/index/snow.jpg") no-repeat;
	background-size: cover;
	min-height:800px;
	overflow: hidden;
	background-attachment:fixed;
}
.mainter{
	height:400px;
	width:60%;
	margin:120px 400px;
	overflow: hidden;
	padding-top: 150px;
}
.back{
	background: url("../images/index/snow.jpg") no-repeat;
    background-attachment:fixed;
    background-size: cover;
	overflow: hidden;
}
p{
	font-size: 15px;
    text-align: center;
}
ul{
	color:#FF8C00;
}
.juqing{
	width: 89%;
	height:500px;
	margin:150px 225px;
}
.juqing ul{
	margin:0 0;
}
.juqing ul li{
	margin:0 0;
	width:149px;
	display: inline-block;
	list-style:none;
}
.juqing a{
	margin:0 0px 0 0;
	text-decoration: none;
	text-transform: capitalize;
	position:relative;
}
.juqing a:hover{
	text-decoration:none;
	cursor:hand;
}
.juqing ul li a img{
	width: 149px;
	height: 500px;
}
.juqing a span{
	display:none;
	cursor:hand;
	text-align:center;
	font-size: 30px;
	color:#FF8C00;
	padding:100px 0;
	font-weight:bold;
	transform: 
}
.juqing a:hover span{
	width:149px;
	height:305px;
	background:#000;
	display:block;
	position:absolute;
	bottom:0px;
	left:0;
	color:##FFF;
	opacity:0.75;
	align:center;
	border: 1px solid #FF8C00;
	transform: scale(1.1);
}

.jieshao{
	width:67%px;
	margin-left: 250px;
	margin-right: 250px;
	margin-bottom: 30px;
	padding: 50px 50px;
	float: left;
	border:3px solid #FF8C00;
	border-radius: 15px;
}
.top{
	width: 67%;
	margin-left: 200px;
	margin-right: 250px;
	text-align: center;
}

.top a img{
	width: 50px;
	height: 50px;
}

