@charset "utf-8";
/* CSS Document */
.header4{
    background: url("../images/index/monster.jpg") no-repeat;
    background-size: cover;
    min-height:800px;
    overflow: hidden;
}
.mainter{
    height:700px;
    width:57%;
    margin-left: 600px;
    overflow: hidden;
    padding-top: 100px;
}
.mainter h3{
    font-size: 30px;
    font-family: STXingkai;
}
.mainter p{
    font-size: 20px;
    font-family: STXingkai;
    margin-left: 200px;
}
.liuyan-left{
    width: 43%;
    height: 100%;
    float: left;
    padding-top: 145px;
    padding-left: 100px;
    padding-bottom: 80px;
}
.liuyan-left img{
    width: 600px;
    height: 600px;
    border-top:20px solid #FF8C00;
    border-right:20px solid #FF8C00;
    border-bottom:20px solid #FF8C00;
}
.liuyan-right{
    width:40%;
    height: 100%;
    float: left;
    padding-top: 150px;
    padding-left: 150px;
}
form{
    width:500px; 
    height:400px;
}
p{margin-top:30px;}
p input{                                    /*设置所有的输入框样式*/
    width:500px; 
    height:40px; 
    border:0.5px solid #FFFFFF;
    padding:2px;
    background-color:#313131;
    color:#fff;
}
p textarea{
    width:500px;
    height: 100px;
    float: left;
    padding-bottom: 100px;
    border:0.5px solid #FFFFFF;
    padding:2px;
    background-color:#313131;
}

.btn input{                                /*设置两个按钮的宽高、边距及边框样式*/
    width:90px; 
    height:30px;
    background:#313131;
    margin:40px;
    margin-left:80px; 
    margin-right: 20px;
    border-radius:3px;                      /*设置圆角边框*/
    font-size:18px;
    font-family:"微软雅黑";
    color:#fff;
    }
